ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #f8f9fa;
  padding: 0;
}
ul.header li a {
  color: #444;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.brand {
   color: #16b286;
   font-weight: bold;
   font-size: 24px;
   padding-left: 10px;
}
